@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, sans-serif;
  color: #0f172a;
  background-color: #f8fafc;
}

.dark :root {
  color: #f8fafc;
  background-color: #020617;
}
